<div id="historyStockPriceView" style="display:none">

	<div class="jumbotron text-center" style="background:#FF5511; color:#FFFFFF;">
    <h2>股票買賣試算</h2>
    <div class="form-inline">
      <input class="form-control" type="text" id="stockSymbol" placeholder="股票代碼">
      <input type="radio" name="stockType" value=".TW" checked>上市</label>
      <input type="radio" name="stockType" value=".TWO">上櫃</label>
      <button class="btn btn-default" id="query">查詢</button>
    </div>
  </div>    

  <div class="container">
    <div class="row">
      <div class="col-sm-4"></div> 
      <div class="col-sm-4" id="stockError" style="display:none">
        <p>查詢異常，可能有下列幾種原因：</p>
        <p>1. 股票代碼錯誤</p>
        <p>2. 股票類型錯誤</p>
        <p>3. Yahoo Finance 沒有這張股票的資料</p>
      </div>
      <div class="col-sm-4"></div> 
    </div>

    <div class="row" id="stockInfo" style="display:none">   
      <div class="col-sm-9" id="lineGraphDiv">
        <canvas id="lineGraphCanvas" style="border:1px solid #808080"></canvas>
      </div>

      <div class="col-sm-3">
        <p id="date"></p>
        <p id="open"></p>
        <p id="high"></p>
        <p id="low"></p>
        <p id="close"></p>
        <p id="volume"></p>
      </div>    
    </div>
  </div>

</div>