<div id="historyStockPriceView" style="display:none" class="container">
	<div class="jumbotron" >
    <h2>標題</h2>
    <p>描述</p> 
    <button class="btn-info" id="queryButton">query</button>

    <div class="row">   
      <div class="col-sm-12" id="stockPriceInfo"></div>    
    </div>

    <div class="row">   
      <div class="col-sm-9" id="lineGraphDiv">
        <canvas id="lineGraphCanvas"></canvas>
      </div>

      <div class="col-sm-3"></div>    
    </div>

  </div>    
</div>